---
import { getUserFromCookie, getFlashError } from "../session";

const user = getUserFromCookie(Astro.cookies);
const flashError = getFlashError(Astro.cookies);
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ByB</title>
  </head>
  <body>
    <header>
      <a href="/" class="logo">ByB</a>
      {
        user ? (
          <form action="/api/logout" method="POST" style="margin: 0;">
            <button type="submit" class="logout-button">
              Log out
            </button>
          </form>
        ) : (
          ""
        )
      }
    </header>
    <main>
      {flashError ? <p class="flash-error">{flashError}</p> : null}
      <slot />
    </main>
  </body>
</html>
<style is:global>
  @import "open-props/style";
  @import "open-props/normalize";
  @import "open-props/buttons";

  header {
    padding: var(--size-4);
    border-bottom: var(--size-1) solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  main {
    padding: var(--size-4);
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .flash-error {
    margin: var(--size-4) var(--size-2);
    text-align: center;
    max-width: 400px;
    padding: var(--size-4);
    border-radius: var(--radius-3);
    background-color: var(--orange-6);
    color: var(--gray-8);
    box-shadow: var(--shadow-4);
  }
</style>
